<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWServiceSMBrad" maxReceivedMessageSize="65536000">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.smartbbi.com:44810/ServerWebServiceSM"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWServiceSMBrad"
                contract="SmartBbiService.IWServiceSMBrad" name="BasicHttpBinding_IWServiceSMBrad" />
        </client>
    </system.serviceModel>
</configuration>